.title {
	font-family: "Courier New", Courier, monospace;
	background: linear-gradient(45deg, tan, brown);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	margin-left: 0.5em;
}

.hint {
	margin-left: 1.2em;
}

#item_container {
	margin: 1em;
}

.cell {
	position: relative;
	align-content: center;
	display: inline-block;
	width: 13em;

	margin-right: 1em;
	margin-bottom: 1em;

	padding-bottom: 1em;

	border-radius: 0.5em;
	border-width: 0.2em;
	border-color: tan;
	border-style: double;
	background-color: #faebd7;
	
	overflow: hidden;
}

.cell:hover {
	background-color: #fff0dc;
}

.cell-glyph-frame {
	display: inline-block;
	position: relative;

	margin: 1em;

	width: 64px;
	height: 64px;

	border-width: 0.1em;
	border-color: tan;
	border-style: dashed;
}

.cell-glyph-frame:hover {
	border-color: chocolate;
}

.cell-glyph {
	position: absolute;

	width: 16px;
	height: 16px;

	left: 24px;
	top: 24px;

	background: url(../mc_atlas_v2.png);
	scale: 200%;
	image-rendering: pixelated;
}

.cell-code {
	display: inline-block;
	position: relative;

	font-family: "Courier New", Courier, monospace;
	color: tan;
	line-height: 1.5em;

	vertical-align: top;
	margin: 1em;
}

.cell-code:hover {
	color: chocolate;
	cursor: pointer;
}

.cell-desc {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.8em;
	font-weight: bold;
	color: tan;

	padding-left: 1em;
	padding-right: 0.5em;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
}

.cell-version {
	user-select: none;
	position: absolute;
	top: -50px;
	right: -35px;
	width: 64px;
	height: 16px;
	background-color: #E3A5C7;
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding-top: 45px;
	padding-bottom: 0;
	transform: rotate(45deg);
	transition: all 0.2s;
	font-family: "Courier New", Courier, monospace;
}

.cell-version:hover {
	top: -52px;
	right: -32px;
	font-size: 18px;
	padding-bottom: 5px;
}

.underline::after {
	position: absolute;
	right: 0;
	content: "";
	width: 100%;
	height: 2px;
	background: chocolate;
	bottom: -4px;
	transform: scale(0, 1);
	transition: transform 0.3s;
	transform-origin: right top;
}
.underline:hover::after {
	transform-origin: left top;
	transform: scale(1, 1);
}